#toolbar{
	position: absolute;
	left: 360px;
	top: 10px;	
	background-color: none;
	width: auto;
	height: auto;
	
}
#map{
	position: absolute;
	height: auto;
	margin-top: 0px;
	width: 100%;
	left: 0px;
	top: 0px;
	bottom: 0px;




}





#results {
              font-style: sans-serif;
              color: black;
              font-size: 75%;
            }



#search {
                background-color: none;
                position: absolute;
				top: 395px;
                left: 0px;
                width: 300px;
                height: auto;
                padding: 10px;
            }
#search input {
                width: 200px;